body {
    background-color: #ffffff
}
.text-title {
    font-family: 'Roboto', sans-serif;
    color: #EB5819;
    font-weight: bold;
    align-self:center;
    font-size: 32px;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: #EB5819;
    font-weight: 500;
    color: #ffffff;
    border: none;
    font-size: 20px;
    margin-top: 35px;
}
.form-control {
    min-height: 50px;
}
  
.logo-footer {
    font-family: 'Roboto', sans-serif;
    color: #EB5819 !important;
    font-weight: bold;
    width: 100%;
    font-size: 1em;
    text-decoration: none !important;
  }
.termo {
    color: white !important;
}